.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: none;
	background-color: $color-red;
	padding: 12px 16px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: $color-white;
	text-align: center;
	transition: background-color $transition-default, color $transition-default;

	&--header {
		padding: 8px 14px;
		font-size: 14px;
		line-height: 19px;
	}

	@media (min-width: 350px) {
		white-space: nowrap;
	}

	@include desktop {
		padding: 16px 32px;
		font-size: 20px;
		line-height: 27px;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: darken($color-red, 10%);
	}

	&:active {
		background-color: darken($color-red, 5%);
	}

	&:disabled {
		background-color: transparent;
		border: 1px solid #5A5A5A;
		color: #5A5A5A;
		pointer-events: none;
	}
}