mixin footer()
	footer.footer.container
		p.footer__name ООО "Сапсан"
		.footer__bottom
			p.footer__text
				|ИНН 7814767520
				br
				|ОГРН 1197847212375
				br
				|г. Санкт-Петербург, вн.тер.г. город Пушкин, г Пушкин, ул Леонтьевская, д. 41, литера А, кв. 46
			p.footer__text © 2024 Сапсан
