mixin header()
	// Header
	header.header.container
		a.header__logo-link(href="#", title="Наверх")
			img.header__logo(src="./images/logo.svg", alt="Сапсан")
		.header__box
			nav.header__menu
				ul.header__menu-list
					li.header__menu-elem
						a.header__menu-link(href="#") Проекты
					li.header__menu-elem
						a.header__menu-link(href="#") Цены
					li.header__menu-elem
						a.header__menu-link(href="#") Контакты
			a.button.header__callback-link(href="#") Заказать проект
